/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "Inter", sans-serif;
}
/* .main-layout
{
  margin-left: 220px;
} */

/* .ant-input-otp .ant-input {
  flex: 1;
  text-align: center;
} */

/* .ant-input-otp {
  display: flex !important;
  justify-content: space-between !important;
  width: 100px !important;
  gap: 16px !important; 
}

.ant-input-otp .ant-input {
  flex: 1 !important;
  width: 100% !important;
  min-width: 0 !important;
  text-align: center !important;
  height: 60px !important; 
  font-size: 20px !important;
  border-radius: 12px !important;
} */

/* .large-otp .ant-otp-input {
  width: 56px !important;
  height: 56px !important;
  font-size: 24px !important;
  border-radius: 8px !important;
}

.large-otp {
  gap: 12px !important;
} */

.react-multi-carousel-item button {
  z-index: 1 !important;
}

/* Or target specifically the arrow buttons */
.react-multiple-carousel__arrow {
  z-index: 1 !important;
}

/* If you want to target left and right separately */
.react-multiple-carousel__arrow--left,
.react-multiple-carousel__arrow--right {
  z-index: 1 !important;
}